body{
	background-color:#d4ceb6;
}
.box{
	background-color:cyan;
	min-height:100px;
	text-align: center;
}
.box1{
	background-color:violet;
	min-height: 150px;
	margin: 10px; 
	text-align: center;
}
.box2{
	background-color:red;
	min-height: 200px;
	margin: 10px;
	text-align: center; 
}
.box3{
	background-color:green;
	min-height: 150px;
	margin: 10px; 
	text-align: center;
}
form{
	margin:80px;
}
